header {
  background-color: #bbb;
  padding: 20 0;
}

.caja{
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav ul li {
  display: inline;
  margin: 0 0 0 25px; /* espaciamiento entre elementos a la izquierda */
}

nav ul li a {
  text-transform: uppercase; /* convierte texto a mayusculas */
  color: black;  /* color del texto */
  font-weight: bold;  /* negrita al texto */
  font-size: 22px;  /* tamaño del texto */
  text-decoration: none;  /* decoracion del texto */
}

nav ul li a:hover{
  color: #c78c19;
  text-decoration: underline;
}

.productos{
  width: 940px; /* ancho de la pantalla */
  margin: 0 auto;
  padding: 50px;
}

.productos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 1.5%;
  padding: 30px 20px;
  box-sizing: border-box; /* el espacio del padding se tomara del 30% de cada caja */
  border: 2px solid black;
  border-radius: 10px;
}

.productos li:hover{
  border: 2px solid #c78c19;
}

.productos li:active{
  border: 2px solid green;
}

.productos li h2{
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2{ /* cuando este dentro de li que solo afecte a h2 */
  font-size: 33px;
}

.pDescripcion{
  font-size: 18px;
}

.pPrecio{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;

}

footer{
  text-align: center;
  background: url(../img/bg.jpg);
  padding: 40px;

}

.copyright{
  color: white;
  font-size: 13px;
  margin: 20px;
}